/* header-ads-start */
header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider{
  margin: 50px 0;
  max-width: 800px;
  max-height: 500px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.slides{
  width: 500%;
  height: 100%;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 2s;
}
.slide img{
  width: 800px;
  height: 400px;
  margin: auto;
  border-radius: 50px;
}
/* css for manual slide navigation */

.navigation-manual{
  position: absolute;
  max-width: 800px;
  margin-top: -40px;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid rgba(140, 210, 140, 0.7); /*按鈕框線顏色*/
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background-color: rgba(140, 210, 140, 0.7); /*按鈕選取後顯示顏色*/
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%; 
}

/* css for automatic navigation */
.navigation-auto{
  position: absolute;
  max-width: 100%;
  bottom: 25px;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
}

.navigation-auto div{
  border: 2px solid rgba(140, 210, 140, 0.7);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4
{
  background: rgba(140, 210, 140, 0.7);
}
/* 電腦螢幕 1024-1*/
@media screen and (min-width:1023px) {
  main, .commodity-wrap {
    margin: auto;
  }
}
h2 {
  text-align: center;
  color: #f00;
  font-weight: 700;
  font-size: 32px;
  margin: 20px 0;
  letter-spacing: 10px;
}
/* commodity */
.commodity-wrap {
  max-width: 1500px;
  /* background-color: rgba(200, 255, 200, 0.5); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.commodity-item {
  background-color: #fefefe;
  width: clamp(200px, 100%, 400px);
  margin: 10px;
  border: 3px solid rgba(100, 150, 100, 1);
  padding: 20px;
  border-radius: 20px;
}
.commodity-item img {
  width: 100%;
  border-radius: 20px;
}
.commodity-item article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(0px);
  transition: 0.5s;
}
.commodity-item h3 {
  font-size: 24px;
}
.commodity-item .price {
  margin-top: 20px;
}
.more-information {
  display: block;
  margin: 0;
  opacity: 0;
  transform: translateY(0px);
  transition: 0.5s;
}
.commodity-item:hover article {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.commodity-item:hover .more-information {
  opacity: 1;
  background-color: #fefefe;
  box-shadow: 0 0 10px 0 rgba(100, 150, 100, 1);
  padding: 20px 20%;
  margin-top: -40px;
  border-radius: 20px;
  transform: translateY(100px);
  transition: 0.5s;
}
.commodity-item .more-information {
  text-decoration: none;
  color: #000;
}
@media screen and (min-width:1023px) {
  .commodity-item:hover .more-information {
    transform: translateY(80px);
  }
  
}
/* 熱銷排行的css特效 */
.hot-sales {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}
.hot-sales span {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 150px;
  height: 150px;
  /* background-color: #f00; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hot-sales span::before {
  content: "hot";
  position: absolute;
  width: 150%;
  height: 40px;
  background-color: #ff0000;
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
} .hot-sales span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  z-index: -1;
  box-shadow: 140px -140px #ff0000;
  /* 150px - 10px = 140px */
}