h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #292929;
}
section {
  padding: 40px 20px;
  padding-top: 70px;
}
.previousPage{
  width: 170px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 50px;
  color: #292929;
}
.pic{
  width: 500px;
}
.rating_wrap {
  margin-top: 50px;
  box-align: center;
  align-items: center;
}
.ul_li{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  box-align: center;
  align-items: center;
  box-pack: start;
  justify-content: flex-start;
}
.rating_star li.active{
  color: #ffa900;
}
.rating_star li:not(:last-child){
  margin-right: 2px;
}
.rating_star li {
  color: #aeaeae;
  font-size: 12px;
}
.ul_li > li, .ul_li_right > li, .ul_li_center > li {
  list-style: none;
  display: inline-block;
}
.productInfo .review {
  color: #81c408;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  margin-left: 20px;
}
a:active, a:focus, a:hover, a:visited {
  outline: 0;
  text-decoration: none;
}
a {
  outline: 0;
  display: inline-block;
  text-decoration: none;
  transition: 0.4s cubic(0.25, 1, 0.5, 1);
}
.productInfo .product_detail_title {
  color: #292929;
  font-size: 45px;
}
.productInfo .product_detail_desc {
  color: #888;
  font-size: 23px;
}
p {
  font-weight: 400;
}
.product_detail_content .content_title {
  color: #292929;
  font-size: 23px;
  text-decoration: underline;
}
.product_detail_content h5{
  color: #666;
}

.addToCart{
  padding-top: 30px;
}


.product_comment, .product_rating{
  padding: 50px 0;
}
.product_comment .title_text {
  line-height: 1;
  font-size: 35px;
  margin-bottom: 30px;
}
.ul_li_block {
  margin: 0px;
  padding: 0px;
  display: block;
}
.review_comment_list > li {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px dotted #bdbaba;
}
.ul_li_block > li {
  display: block;
  list-style: none;
}
.review_comment_wrap .admin_name {
  display: flex;
  line-height: 1;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px;
  box-align: center;
  align-items: center;
}
.review_comment_wrap .comment_date {
  color: #8a8e91;
  font-size: 14px;
  font-weight: 400;
  margin-left: 40px;
  display: inline-block;
}
.review_comment_wrap .rating_star {
  margin-bottom: 12px;
}
.ul_li {
  box-pack: start;
  justify-content: flex-start;
}
.ul_li, .ul_li_right, .ul_li_center {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  box-align: center;
  align-items: center;
}
.review_comment_wrap p {
  font-size: 16px;
}

.nav-li {
  width: 100%;
}
@media screen and (max-width:1000px) {
  .productInfo{
    width: 80%;
    margin: auto;
  }  
}