@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.container{
  position: relative;
  max-width: 400px;
  background: rgba(200, 255, 200, 0.4);
  padding: 20px 30px;
  border: 3px solid rgb(100, 200, 100);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: rgb(50, 150, 50);
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: rgb(50, 150, 50);
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #777;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #FDCC0D;
}
input:checked ~ label{
  color: #FDCC0D;
}
input#rate-5:checked ~ label{
  color: #FFDF00;
  text-shadow: 0 0 15px #FF9529;
}
#rate-1:checked ~ form header:before{
  content: "我超討厭這個";
}
#rate-2:checked ~ form header:before{
  content: "我不太喜歡這個";
}
#rate-3:checked ~ form header:before{
  content: "我覺得這個還好";
}
#rate-4:checked ~ form header:before{
  content: "我喜歡這個";
}
#rate-5:checked ~ form header:before{
  content: "我超級愛這個";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #FDCC0D;
  text-shadow: 2px 2px 3px #666;
  font-weight: 600;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #333;
  border: 1px solid #888;
  background: rgba(200, 255, 200, 0.4);
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border: 1px solid #333;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
  padding: 0px;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #888;
  outline: none;
  background-color: rgba(200, 255, 200, 0.4);
  color: #333;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #444;
  color: #ccc;
}